// banner
.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  .wave {
    position: absolute;
    bottom: 0;
  }
  .img {
    width: 100%;
    height: 100%;
  }
}
.content-box {
  position: relative;
  z-index: 888;
  display: flex;
  justify-content: center;
  margin-top: -128px;
  width: 100%;
  .tools {
    position: fixed;
    bottom: 96px;
    right: 75px;
  }
  .content {
    position: relative;
    width: 75%;
    .content-item {
      position: relative;
      width: 100%;
      border-radius: 12px;
      background-color: var(--white);
    }
    .card-box {
      width: 100%;
      margin-top: 30px;
      display: grid;
      justify-content: space-between;
      grid-row-gap: 30px;
    }
    @media (max-width: 1366.9px) {
      .card-box {
        grid-template-columns: repeat(2, 300px);
      }
    }
    @media (min-width: 1367px) and (max-width: 1700.9px) {
      .card-box {
        grid-template-columns: repeat(3, 300px);
      }
    }
    @media (min-width: 1701px) and (max-width: 2095.9px) {
      .card-box {
        grid-template-columns: repeat(4, 300px);
      }
    }
    @media (min-width: 2096px) {
      .card-box {
        grid-template-columns: repeat(5, 300px);
      }
    }
    .book-box {
      width: 100%;
      margin-top: 42px;
      display: grid;
      justify-content: space-between;
      grid-row-gap: 30px;
    }
    @media (max-width: 1416.9px) {
      .book-box {
        grid-template-columns: repeat(2, 240px);
      }
    }
    @media (min-width: 1417px) and (max-width: 1839.9px) {
      .book-box {
        grid-template-columns: repeat(3, 240px);
      }
    }
    @media (min-width: 1840px) and (max-width: 2376.9px) {
      .book-box {
        grid-template-columns: repeat(4, 240px);
      }
    }
    @media (min-width: 2377px) {
      .book-box {
        grid-template-columns: repeat(5, 240px);
      }
    }
  }
}
/* Element-UI 的自定义样式 */

// el-scrollbar
.el-scrollbar {
  .el-select-dropdown__item {
    &.selected {
      color: var(--primary);
    }
  }
}
// el-pagination
.el-pagination {
  // button {
  //   &:disabled {
  //     border-color: #c0c4cc;
  //   }
  // }
  .btn-prev,
  .btn-next {
    border-radius: 3px;
    border: 1px solid #dcdee2;
    &:hover {
      color: var(--primary);
    }
  }
  .btn-prev {
    margin-right: 5px;
  }
  .btn-next {
    margin-left: 5px;
  }
  .el-pager {
    li {
      min-width: 30px;
      margin: 0 5px;
      border-radius: 3px;
      border: 1px solid #dcdee2;
      &:hover {
        color: var(--primary);
      }
      &.active {
        color: var(--primary);
        & + li {
          border-left: 1px solid #dcdee2;
        }
      }
    }
  }
}

// 自定义组件样式
.sk-hidden-scroll {
  overflow: hidden;
}
