// banner
.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  .wave {
    position: absolute;
    bottom: 0;
  }
  .img {
    width: 100%;
    height: 100%;
  }
}
.content-box {
  position: relative;
  z-index: 777;
  display: flex;
  justify-content: center;
  margin-top: -128px;
  width: 100%;
  .tools {
    position: fixed;
    bottom: 96px;
    right: 75px;
  }
  .content {
    position: relative;
    width: 75%;
    .content-item {
      position: relative;
      width: 100%;
      border-radius: 12px;
      background-color: var(--white);
    }
    .card-box {
      width: 100%;
      margin-top: 30px;
      display: grid;
      justify-content: space-between;
      grid-row-gap: 30px;
    }
    @media (max-width: 1366.9px) {
      .card-box {
        grid-template-columns: repeat(2, 300px);
      }
    }
    @media (min-width: 1367px) and (max-width: 1700.9px) {
      .card-box {
        grid-template-columns: repeat(3, 300px);
      }
    }
    @media (min-width: 1701px) and (max-width: 2095.9px) {
      .card-box {
        grid-template-columns: repeat(4, 300px);
      }
    }
    @media (min-width: 2096px) {
      .card-box {
        grid-template-columns: repeat(5, 300px);
      }
    }
    .book-box {
      width: 100%;
      margin-top: 42px;
      display: grid;
      justify-content: space-between;
      grid-row-gap: 30px;
    }
    @media (max-width: 1416.9px) {
      .book-box {
        grid-template-columns: repeat(2, 240px);
      }
    }
    @media (min-width: 1417px) and (max-width: 1839.9px) {
      .book-box {
        grid-template-columns: repeat(3, 240px);
      }
    }
    @media (min-width: 1840px) and (max-width: 2376.9px) {
      .book-box {
        grid-template-columns: repeat(4, 240px);
      }
    }
    @media (min-width: 2377px) {
      .book-box {
        grid-template-columns: repeat(5, 240px);
      }
    }
  }
}
/* Element-UI 的自定义样式 */

// el-scrollbar
.el-scrollbar {
  .el-select-dropdown__item {
    &.selected {
      color: var(--primary);
    }
  }
}
// el-cascader-menu
.el-cascader-menu {
  .el-cascader-node {
    &.in-active-path,
    &.is-active,
    &.is-selectable.in-checked-path {
      color: var(--primary);
    }
  }
}
// el-pagination
.el-pagination {
  // button {
  //   &:disabled {
  //     border-color: #c0c4cc;
  //   }
  // }
  .btn-prev,
  .btn-next {
    border-radius: 3px;
    border: 1px solid #dcdee2;
    &:hover {
      color: var(--primary);
    }
  }
  .btn-prev {
    margin-right: 5px;
  }
  .btn-next {
    margin-left: 5px;
  }
  .el-pager {
    li {
      min-width: 30px;
      margin: 0 5px;
      border-radius: 3px;
      border: 1px solid #dcdee2;
      &:hover {
        color: var(--primary);
      }
      &.active {
        color: var(--primary);
        & + li {
          border-left: 1px solid #dcdee2;
        }
      }
    }
  }
}
// el-dialog
.el-dialog {
  border-radius: 12px;
  .el-dialog__title {
    user-select: none;
    font-weight: bold;
  }
  .el-dialog__headerbtn {
    &:focus,
    &:hover {
      .el-icon-close {
        color: var(--primary);
      }
    }
  }
}
// el-tooltip
.el-tooltip__popper {
  &.is-light {
    border-color: #d6d6d6;
    &[x-placement^='top'] {
      .popper__arrow {
        border-top-color: #d6d6d6;
      }
    }
    &[x-placement^='bottom'] {
      .popper__arrow {
        border-top-color: #d6d6d6;
      }
    }
    &[x-placement^='left'] {
      .popper__arrow {
        border-top-color: #d6d6d6;
      }
    }
    &[x-placement^='right'] {
      .popper__arrow {
        border-top-color: #d6d6d6;
      }
    }
  }
}
// el-message-box
.el-message-box {
  border-radius: 12px;
  .el-message-box__header {
    .el-message-box__headerbtn {
      &:hover,
      &:focus {
        .el-message-box__close {
          color: var(--primary);
        }
      }
    }
  }
}
// el-button
.el-button {
  transition: color 0.5s ease-in-out, border-color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  &:focus,
  &:hover {
    color: var(--primary);
    border-color: #b2ebf2;
    background-color: #e0f7fa;
  }
  &.is-plain {
    &:focus,
    &:hover {
      color: var(--primary);
      border-color: #b2ebf2;
      background-color: #e0f7fa;
    }
  }
}
.el-button--primary {
  color: var(--white);
  border-color: var(--primary-btn);
  background-color: var(--primary-btn);
  &:focus {
    color: var(--white);
    border-color: var(--primary-btn);
    background-color: var(--primary-btn);
  }
  &:hover {
    color: var(--white);
    border-color: var(--primary-btn-h);
    background-color: var(--primary-btn-h);
  }
  &:active {
    color: var(--white);
    border-color: var(--primary-btn-a);
    background-color: var(--primary-btn-a);
  }
  &.danger {
    color: var(--white);
    border-color: var(--danger);
    background-color: var(--danger);
    &:focus {
      color: var(--white);
      border-color: var(--danger);
      background-color: var(--danger);
    }
    &:hover {
      color: var(--white);
      border-color: var(--danger-btn-h);
      background-color: var(--danger-btn-h);
    }
    &:active {
      color: var(--white);
      border-color: var(--danger-btn-a);
      background-color: var(--danger-btn-a);
    }
  }
  &.is-disabled {
    &,
    &:active,
    &:focus,
    &:hover {
      background-color: var(--primary-btn-d);
      border-color: var(--primary-btn-d);
    }
  }
}
// el-input
.el-input {
  &.is-active {
    .el-input__inner {
      border-color: var(--primary);
    }
  }
  .el-input__inner {
    &:focus {
      border-color: var(--primary);
    }
  }
}
// el-textarea
.el-textarea {
  .el-textarea__inner {
    &:focus {
      border-color: var(--primary);
    }
  }
}
// el-select
.el-select {
  .el-input {
    &.is-focus {
      .el-input__inner {
        border-color: var(--primary);
      }
    }
    .el-input__inner {
      &:focus {
        border-color: #dcdfe6;
      }
    }
  }
}
// el-cascader
.el-cascader {
  .el-input {
    .el-input__inner {
      &:focus {
        border-color: var(--primary);
      }
    }
    &.is-focus {
      .el-input__inner {
        border-color: var(--primary);
      }
    }
  }
}
// el-form
.el-form {
  .el-form-item {
    .el-form-item__label {
      color: var(--placeholder-text);
      font-size: 16px;
    }
  }
}
// el-input-number
.el-input-number {
  .el-input-number__increase,
  .el-input-number__decrease {
    &:hover {
      color: var(--primary);
    }
    &:hover:not(.is-disabled) {
      & ~ .el-input {
        .el-input__inner:not(.is-disabled) {
          border-color: var(--primary);
        }
      }
    }
  }
  &.double-mini {
    width: 96px;
    height: 24px;
    .el-input-number__decrease,
    .el-input-number__increase {
      width: 24px;
      line-height: 22px;
    }
    .el-input {
      line-height: 22px;
      .el-input__inner {
        padding: 0 24px;
        height: 24px;
      }
    }
  }
}
// el-slider
.el-slider {
  .el-slider__bar {
    background-color: var(--primary);
  }
  .el-slider__button {
    border-color: var(--primary);
  }
}
// el-picker-panel
.el-picker-panel {
  .el-picker-panel__sidebar {
    .el-picker-panel__shortcut {
      &:hover {
        color: var(--primary);
      }
    }
  }
  .el-picker-panel__body {
    .el-date-picker__header {
      .el-picker-panel__icon-btn {
        &:hover {
          color: var(--primary);
        }
      }
      .el-date-picker__header-label {
        &.active,
        &:hover {
          color: var(--primary);
        }
      }
    }
    .el-picker-panel__content {
      .el-date-table {
        td {
          &.available {
            &:hover {
              color: var(--primary);
            }
          }
          &.today {
            span {
              color: var(--primary);
            }
          }
          &.current {
            &:not(.disabled) {
              span {
                background-color: var(--primary);
              }
            }
          }
        }
      }
      .el-month-table {
        td {
          .cell {
            &:hover {
              color: var(--primary);
            }
          }
          &.today {
            .cell {
              color: var(--primary);
            }
          }
          &.current {
            &:not(.disabled) {
              .cell {
                color: var(--primary);
              }
            }
          }
        }
      }
      .el-year-table {
        td {
          &.current {
            &:not(.disabled) {
              .cell {
                color: var(--primary);
              }
            }
          }
          &.today {
            .cell {
              color: var(--primary);
            }
          }
          .cell {
            &:hover {
              color: var(--primary);
            }
          }
        }
      }
    }
  }
  .el-picker-panel__footer {
    .el-button--text {
      color: var(--primary);
    }
  }
}
// el-time-panel
.el-time-panel {
  .el-time-panel__footer {
    .el-time-panel__btn {
      &.confirm {
        color: var(--primary);
      }
    }
  }
}
// el-checkbox
.el-checkbox {
  .el-checkbox__input {
    &.is-checked {
      .el-checkbox__inner {
        background-color: var(--primary);
        border-color: var(--primary);
      }
      & + .el-checkbox__label {
        color: var(--primary);
      }
    }
    &.is-focus {
      .el-checkbox__inner {
        border-color: var(--primary);
      }
    }
    &.is-indeterminate {
      .el-checkbox__inner {
        background-color: var(--primary);
        border-color: var(--primary);
      }
    }
    .el-checkbox__inner {
      &:hover {
        border-color: var(--primary);
      }
    }
  }
}
// el-dropdown-menu
.el-dropdown-menu {
  .el-dropdown-menu__item {
    &:focus,
    &:not(.is-disabled):hover {
      color: var(--primary);
      background-color: rgba(131, 204, 210, 0.3);
    }
  }
}

// 自定义组件样式
.sk-hidden-scroll {
  overflow: hidden;
}
.mine {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0 12px;
  background-color: var(--white);
  .title-box {
    position: relative;
    width: 100%;
    height: 72px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    .icon {
      margin-left: 12px;
      font-size: 42px;
      color: var(--primary);
    }
    .text {
      user-select: none;
      font-size: 27px;
      font-weight: bold;
      color: var(--primary-text);
      margin-left: 12px;
    }
    .hr {
      background-color: #dadada;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    }
  }
}
