:root {
    /* 共用主题色 */
    --primary: #83CCD2;
    --edit: #419EFF;
    --disable: #FEDC5E;
    --delete: #F56C6C;
    --white: #FFFFFF;
    --success: #98D98E;
    --black: #1E2732;
    --black-3: rgba(30, 39, 50, .3);
    --green: #B1D5C8;
    /* 字体色 */
    --primary-font: #333333;
    --regular-font: #818693;
    --main-font: #666666;
    --secondary-font: #999999;
    --gray: #BFCBD9;
    --disabled-font: #C0C4CC;
    --tip-icon: #BAC0CD;
    --light-gray: #D4DDE1;
    --cost-title: #9FA0A0;
    /* 背景色 */
    --primary-bg: #FFFFFF;
    --default-bg: #F3F4F7;
    --secondary-bg: #F7F7F7;
    --gray-bg: #F5F3F2;
    --pale: #EBECF0;
    /* border色 */
    --primary-border: #F3F4F7;
    --regular-border: #D8DDE3;
    --routine-border: #E5E5E5;
    --secondary-border: #D8D8D8;
    --primary-border-f: var(--primary);
    /* 列表背景色 */
    --primary-tb-bg: #F1F1F1;
    --primary-tl-bg: #FBFBFA;
    /* 按钮颜色 */
    --primary-btn: var(--primary);
    --primary-btn-h: #9CD6DB;
    --primary-btn-a: #73B2B8;
    --primary-btn-d: #B5E0E4;
    --continue-btn: #343744;
    --continue-btn-h: #5D5F69;
    --continue-btn-a: #23252E;
    --disable-btn: var(--disable);
    --disable-btn-h: #fEE37E;
    --disable-btn-a: #DBC46D;
    --delete-btn: var(--delete);
    --delete-btn-h: #F78989;
    --delete-btn-a: #E07C7C;
    /* shadow阴影色 */
    --grayish: #BABECC;
    /* 按钮色 */
    --detail-btn: #83CCD2;
    --detail-btn-h: #9CD6DB;
    --detail-btn-a: #7EC4C9;

    --delivery-btn: #FEDC5E;
    --delivery-btn-h: #FEE37E;
    --delivery-btn-a: #EBCB57;

    --receipt-btn: #99BCAC;
    --receipt-btn-h: #ADC9BD;
    --receipt-btn-a: #91B3A3;

    --recycle-btn: #68945C;
    --recycle-btn-h: #86A97D;
    --recycle-btn-a: #618A56;

    --reply-btn: #A67EB7;
    --reply-btn-h: #B898C5;
    --reply-btn-a: #9D77AD;

    --complete-btn: #98D98E;
    --complete-btn-h: #ADE1A5;
    --complete-btn-a: #91CF87;

    --overdue-btn: #D0576B;
    --overdue-btn-h: #D97989;
    --overdue-btn-a: #C95468;

    --after-sales-btn: #686A67;
    --after-sales-btn-h: #868885;
    --after-sales-btn-a: #626361;
}